.mdi-checkbox-marked::before {
  color: #279fb9;
}
.v-label.v-label--clickable {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  opacity: 1;
}

.v-input--density-compact {
  --v-input-control-height: auto;
}
